<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="E:\works\mybatistest\mybatistest\src\test\java\com\wuxin\test01" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>